# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml

# Keystore & signing (JANGAN commit ke repo!)
android/key.properties
android/keystore/

# iOS
ios/Pods/
ios/.symlinks/

# General
*.jks
*.keystore
